 <nav class="navbar">
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo">
                    <i class="fas fa-heartbeat"></i>
                    <span>MediConnect</span>
                </div>
                <ul class="nav-menu">
                    <li><a href="#hero" class="nav-link active">Accueil</a></li>
                    <li><a href="#features" class="nav-link">Medecins</a></li>
<li>
  <a routerLink="/rendez-vous" class="nav-link">Rendez-vous</a>
</li>                    <li><a href="#admin-dashboard" class="nav-link">Dashboard</a></li>
                    <li><a href="#tech" class="nav-link">Discussions</a></li>
                    <li><a href="#values" class="nav-link">Valeurs</a></li>
                </ul>
                <button class="cta-button">Démo Gratuite</button>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </nav>